.selectname {
    width: 30%;
}
.align-label {
    display: inline-block;
    width: 104px;
    text-align: right;
}
.align-input {
    width: 15%;
}
.align-name {
    width: 40%;
}
.align-input-fordiscount {
    width: 10%;
}
.billhead th {
    padding: 5px;
}
.billbody td {
    padding: 1.5px;
}
.billbody td input {
    border: none;
    padding: 2px;
    font-size: inherit;
    box-sizing: border-box;
    background-color: transparent;
}
.billbody td input:focus {
    outline: none;
    border: none;
}
.table-bordered {
    border: 1px solid rgb(37, 36, 36);
}
.table-bordered th,
.table-bordered td {
    border: 1px solid rgb(37, 36, 36);
}

.table-bordered tr:nth-child(even) {
    background-color: #f2f2f2;
}
.select-productname {
    color: black;
    width: 65%;
}
.select-productname-selection__arrow{
    color: black;
}

.select2-container--default .select2-selection--single {
    background-color: transparent !important;
    border: none !important;
}

.billbody .select2-selection--single {
    border: none !important;
    background-color: transparent !important;
}
span.select2-selection.select2-selection--single {
    outline: none;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    background-color: transparent !important;
    color: black;
}
